.App {
  width: 100vw;
  height: 100vh;
  background-color: #0f0f0f;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  max-width: 1000px;
}

.body {
  width: 100%;
  max-width: 1000px;
  height: calc(100% - 2rem);
  max-height: calc(100% - 2rem);
  overflow: hidden;
}
